body {
    background:
        radial-gradient(circle at 20% 10%, #222 0%, #111 40%, #000 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 13px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.person-card {
    background: #323232;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    aspect-ratio: 1 / 1.35;
    width: 100%;
}

.person-frame {
    width: 100%;
    height: 70%;
    flex-shrink: 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        display: block;
    }
}

.person-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;

    h3,
    p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.2;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.chatContainer {
    /* display: none;*/
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #323232;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    bottom: 0;
    left: 20px;
    padding: 10px;

    & .closeChat {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-bottom: 0.5px solid white;
        padding-bottom: 5px;
    }

    & .messages {
        background-color: #323232;

        & p {
            font-style: italic;
            border-bottom: 0.5px solid #515151;
            padding-bottom: 5px;
        }

        & span.student {
            font-weight: 700;
            font-style: normal;
            /* Navragen hoe je fav kleur als text-color kan maken */
            /* color: `${{ person.color }}`; */
        }

        & span.timestamp {
            color: #515151;
        }
    }

    & #chatForm {
        display: flex;
        flex-direction: row;
        background-color: #1f1f1f;
        padding: 10px;
    }
}