body {
    background:
        radial-gradient(circle at 20% 10%, #222 0%, #111 40%, #000 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 13px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.person-card {
    background: #323232;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    aspect-ratio: 1 / 1.35;
    width: 100%;
}

.person-frame {
    width: 100%;
    height: 70%;
    flex-shrink: 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        display: block;
    }
}

.person-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;

    h3,
    p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.2;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.chatContainer {
    /* display: none;*/
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 400px;
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #323232;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    left: 10px;
    border: 1px solid #474747;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .2s;


    &.hide {
        transform: scaleY(0);
        pointer-events: none;
    }

    & .closeChat {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    & .messagesContainer {
        height: 390px;
        background-color: #474747;
        border: 1px solid #515151;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 3px 3px 6px 0px #000000 inset, -3px -3px 6px 1px rgba(0, 0, 0, 0.5) inset;


        & .messages {
            height: 99%;
            overflow-x: hidden;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            border-radius: 10px;
            padding-left: 5px;
        }

        & p {
            font-style: italic;
            border-bottom: 0.5px solid #515151;
            padding: 20px;
            background-color: #009100;
            width: max-content;
            border-radius: 10px;
            margin-right: 1000px;
        }

        & span.student {
            font-weight: 700;
            font-style: normal;
            /* Navragen hoe je fav kleur als text-color kan maken */
        }

        & span.timestamp {
            color: white;
            font-size: small;
            margin-left: 5px;
        }
    }

    & .inputFields {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;

        & form {
            display: flex;
            flex-direction: column;
        }

        & button {
            background-color: transparent;
            border-width: 0;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0;
            cursor: pointer;
        }

        & .material-symbols-outlined {
            color: white;
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    }
}

.openChat {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #474747;
    border: 1px solid #515151;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    border-radius: 20px;
    padding: 12px;
    transition: scale .2s;
    &.show {
        display: block !important;
    }
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}